<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row justify-content-center">
  <div class="col-md-4 text-center">
  <h2>Account Settings</h2>
  <br>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control mt-2",placeholder:"Email" %>
  </div>
<div class="field">
  Continue Using Focus Assist?
  <%= f.radio_button :focus_assist, true %> 
  <%= f.label :focus_assist, 'Yes', :value => true %>
  <%= f.radio_button :focus_assist, false %>
  <%= f.label :focus_assist, 'No', :value => false %>
  </div>
 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control mt-2",placeholder:"Password"  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control mt-2",placeholder:"Confirm Password"%>
  </div>
  <i>(leave blank if you don't want to change it)</i>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>



  <div class="field">
    <%= f.password_field :current_password,:value => current_user.password, autocomplete: "current-password",class:"form-control",placeholder: "Current Password" %>
     <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
  </div>

  <div class="actions mb-2">
  <%= link_to "Back", :back,class:"btn btn-primary mt-3" ,style:"color:white;"%>
    <%= f.submit "Update" , class:"btn btn-success mt-3"%>
    
  </div>
<% end %>

<div class="card mb-2">
  <h5 class="card-header" style="background-color:#B06660; color:white;">Danger Zone</h5>
  <div class="card-body">
    <h5 class="card-title">Delete/Cancel your Account</h5>
    <p class="card-text">Once you delete your account, there is no going back. Please be certain.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete , class:"btn", style:"background-color:#B06660; color:white;"%>
  </div>


  
</div>
  
  </div>
  
