<div class="row justify-content-end">
<div class="col-sm-3 justify-content-end">
<% if @user_categories.any? %>
<%= link_to "Add New Entry", new_entry_path,class:"btn btn-success mb-2 float-end" %>

<% else %>
<%= link_to "Add New Entry", new_entry_path,class:"btn btn-success mb-2 disabled float-end" %>
<% end %>
</div>
</div>
<h2 style="font-family: 'Courgette', cursive;">Manage Journal Entries</h2>


<% if @entries.any? %>

<div class="row">
<% @entries.each do |entry| %>    
<div class="col-sm-6">
    <div class="card mt-1">
        <% if entry.category_id == 0 %>
            <h5 class="card-header fw-bolder" style="background-color:#000000b3;color:#ffffff">No Category</h5>
        <% elsif entry.deadline.to_date == Date.today %> 
            <h5 class="card-header fw-bolder" style="background-color:#eb5a46;color:#ffffff">Due Today</h5>
        <% elsif entry.entry_stat == "To-do" %> 
            <h5 class="card-header fw-bolder" style="background-color:#eb5a46;color:#ffffff"><%= Category.find(entry.category_id).category_name %></h5>
        <% elsif entry.entry_stat == "Doing" %> 
            <h5 class="card-header fw-bolder" style="background-color:orange;color:#ffffff"><%= Category.find(entry.category_id).category_name %></h5>
        <% else %>
            <h5 class="card-header bg-success fw-bolder" style="color:#ffffff"><%= Category.find(entry.category_id).category_name %></h5>
        <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= entry.title %></h5>
   
      
    <p class="card-text"><%= truncate(strip_tags(entry.content.to_s), length: 50) %></p>
      <%= link_to "📓 Review", entry_path(entry),class:"btn btn-primary" %>
    
  </div>
</div>
</div>
<% end %>     
</div>
<% else %>
    <%= render 'partials/noitems' %>
<% end %>
<br>
<% if @entries.any? %>
  
   <div class="digg_pagination float-end">
    <%= will_paginate @entries %>
  </div>
 
 
  <% end %>
